@import url(//fonts.googleapis.com/earlyaccess/cwtexyen.css);
body {
    font-family: 'cwTeXYen', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    background-color: antiquewhite;
    flex: 1 0 auto;
    font-weight: bold;
}

nav.nav-extended.menu {
    background-color: rgba(0, 0, 0, 0.8);
}

/* .menu ul li a {
    font-size: 20px;
} */

.menu ul li {
    line-height: 58px;
}

.text {
    /* width: 400px;
    font-size: 15px; */
    text-indent: 2em;
    text-align: justify;
}

.work_list {
    margin-top: 6%;
}

.nav-extended {
    background-color: rgba(0, 0, 0, 0.8)
}

footer.page-footer {
    background-color: rgba(0, 0, 0, 0.8)
}

span.member {
    font-size: 21px;
}

div.login {
    margin-top: 10%;
    padding-right: 15%;
    padding-left: 15%;
}

.error {
    color: red;
    font-size: 21px;
    margin: 0;
}

.btnEdit {
    font-size: 21px;
}

.showImg {
    height: 50%;
    width: 50%;
}

.edit {
    padding: 6px;
}

button {
    margin-top: 1vh;
}

a {
    margin-top: 1vh;
}

.img_box {
    border: 2px rgba(0, 0, 0, 1) solid;
    /* padding: 10vh; */
}

.img_box.col.s12.m3 {
    padding: 1.5vh;
    margin: -1px;
}

/* raido的顏色 */

/* [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid rgba(0, 0, 0, 0.8);
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: rgba(0, 0, 0, 0.8);
} */

/* input的focus顏色跟底線 */

/* label focus color */

.input-field input[type=text]:focus+label, .materialize-textarea:focus:not([readonly])+label {
    color: rgba(0, 0, 0, 0.8) !important;
}

/* label underline focus color */

.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.8) !important;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.8) !important;
}

.errorun input[type=text]:focus+label, .materialize-textarea:focus:not([readonly])+label {
    color: rgba(255, 0, 0, 0.8) !important;
}

/* label underline focus color */

.errorun input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgba(255, 0, 0, 0.8) !important;
    box-shadow: 0 1px 0 0 rgba(255, 0, 0, 0.8) !important;
}
.errorun input[type=text], .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgba(255, 0, 0, 0.8) !important;
    box-shadow: 0 1px 0 0 rgba(255, 0, 0, 0.8) !important;
}

.errorun label, .materialize-textarea:focus:not([readonly])+label {
    color: rgba(255, 0, 0, 0.8) !important;
}

.errorunpas input[type=password]:focus+label, .materialize-textarea:focus:not([readonly])+label {
    color: rgba(255, 0, 0, 0.8) !important;
}

/* label underline focus color */

.errorunpas input[type=password]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgba(255, 0, 0, 0.8) !important;
    box-shadow: 0 1px 0 0 rgba(255, 0, 0, 0.8) !important;
}
.errorunpas input[type=password], .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgba(255, 0, 0, 0.8) !important;
    box-shadow: 0 1px 0 0 rgba(255, 0, 0, 0.8) !important;
}

.errorunpas label, .materialize-textarea:focus:not([readonly])+label {
    color: rgba(255, 0, 0, 0.8) !important;
}

.input-field input[type=password]:focus+label, .materialize-textarea:focus:not([readonly])+label {
    color: rgba(0, 0, 0, 0.8) !important;
}

/* label underline focus color */

.input-field input[type=password]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.8) !important;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.8) !important;
}



div#addimg {
    padding-bottom: 1.5vh;
}

i.fas.fa-images {
    padding-right: 1vh;
}

.img_box a.publish-btn {
    width: 20px;
    height: 20px;
    margin-top: 0px;
    margin-left: 13.5px;
}

.img_box a.publish-btn i {
    line-height: 20px;
}

.memberList {
    margin-top: 7vh;
    /* top:50%; */
}

.webadd.row.container {
    margin-top: 10vh;
}

.del_work{
margin: 0;
}