@import url(//fonts.googleapis.com/earlyaccess/cwtexyen.css);
body {
    font-family: 'cwTeXYen', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


main {
    background-color: antiquewhite;
    flex: 1 0 auto;
    font-weight:bold;
}

nav.nav-extended.menu {
    background-color: rgba(0, 0, 0, 0.8);
}

.menu ul li a {
    font-size: 20px;
}

.text {
    /* width: 400px;
    font-size: 15px; */
    text-indent: 2em;
    text-align: justify;
}


.work_list{
    margin-top: 6%;
}

.nav-extended {
    background-color: rgba(0, 0, 0, 0.8)
}

footer.page-footer {
    background-color: rgba(0, 0, 0, 0.8)
}

span.member {
    font-size: 21px;
}

div.login{
    margin-top: 10%;
    padding-right: 15%;
    padding-left: 15%;
}


.error{
    color: red;
    font-size: 21px;
    margin: 0;
}

.btnEdit{
    font-size: 21px;
}

.showImg{
    height: 50%;
    width: 50%;
}

.edit{
    padding: 6px;
}

button{
    margin-top: 1vh;
}
a{
    margin-top: 1vh;
}

.img_box{
    border: 2px rgba(0, 0, 0, 1) solid;
    /* padding: 10vh; */
}

.img_box.col.s12.m3 {
    padding: 1.5vh;
    margin: -1px;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid rgba(0, 0, 0, 0.8);
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: rgba(0, 0, 0, 0.8);
}

div#addimg{
    padding-bottom: 1.5vh;
}

i.fas.fa-images {
    padding-right: 1vh;
}

.img_box a.publish-btn{
    width: 20px;
    height: 20px;
    margin-top: 0px;
    margin-left: 13.5px;
}

.img_box a.publish-btn i{
    line-height: 20px;
}
